/* Generals */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}

section {
  background: #5a7293;
  padding-bottom: 50px;
}

section:last-child {
  padding-bottom: 0;
}

.container {
  background: white;
  padding: 20px 20px;
}

h1 {
  font-size: 2.5em;
}

img {
  height: 150px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* Section Lessons */
#lezioni > .container:first-of-type {
  border-radius: 0 0 5px 5px;
}

/* Sections steps */
#steps > .container {
  border-radius: 5px;
}

/* Section why */
#why > .container:last-of-type {
  border-radius: 5px 5px 0 0;
}

#why .col-lg-12 img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}
